<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.board.mapper.BoardMapper">
	
	<!-- 게시글 목록 조회 -->
	<select id="getBoardList" resultType="com.api.board.domain.Board">
	                                     
		SELECT *
		FROM ( 
				SELECT BOARD_SEQ 
					 , BOARD_RE_REF 
					 , BOARD_RE_LEV 
					 , BOARD_RE_SEQ 
					 , BOARD_WRITER 
					 , BOARD_SUBJECT 
					 , BOARD_CONTENT 
					 , BOARD_HITS
					 , DEL_YN 
					 , INS_USER_ID
					 , CAST( DATE_FORMAT( INS_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS INS_DATE
					 , UPD_USER_ID
					 , CAST( DATE_FORMAT( UPD_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS UPD_DATE  
			   FROM BOARD.TB_BOARD
		       ORDER BY BOARD_RE_REF DESC, BOARD_RE_SEQ ASC
			  ) T1
		 
	</select>
	
	<!-- 게시글 상세 조회  -->
	<select id="getBoardDetail" parameterType="int" resultType="com.api.board.domain.Board">
	
		SELECT T1.*
		  FROM (
					SELECT BOARD_SEQ 
						 , BOARD_RE_REF 
					 	 , BOARD_RE_LEV 
					 	 , BOARD_RE_SEQ 
					 	 , BOARD_WRITER 
					 	 , BOARD_SUBJECT 
					 	 , BOARD_CONTENT 
					 	 , BOARD_HITS
					 	 , DEL_YN 
					 	 , INS_USER_ID
					 	 , CAST( DATE_FORMAT( INS_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS INS_DATE
					 	 , UPD_USER_ID
					 	 , CAST( DATE_FORMAT( UPD_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS UPD_DATE  
				  	  FROM BOARD.TB_BOARD
				 	 WHERE BOARD_SEQ = #{board_seq}		
		        ) T1		
	
	</select>
	
	<!-- 게시글 등록  -->
	<insert id="insertBoard" parameterType="com.api.board.domain.Board">
		
		<selectKey resultType="int" keyProperty="board_seq" order="AFTER">

			SELECT LAST_INSERT_ID()

		</selectKey>
		
		INSERT 
		INTO BOARD.TB_BOARD 
		(
		  	  BOARD_RE_REF
		  	, BOARD_RE_LEV
		  	, BOARD_RE_SEQ
		  	, BOARD_WRITER
		  	, BOARD_SUBJECT
		  	, BOARD_CONTENT
		  	, INS_USER_ID
		  	, INS_DATE
		  	, UPD_USER_ID
		  	, UPD_DATE
		) 
		VALUES 
		(
			  0
			, 0
			, 0
			, #{board_writer}
			, #{board_subject}
			, #{board_content}
			, 'TEST'
			, NOW() 
			, 'TEST'
			, NOW() 
		)
			
	</insert>
	
	<insert id="insertBoardFile" parameterType="com.api.board.domain.BoardFile">
	
		<selectKey resultType="int" keyProperty="file_no" order="BEFORE">
			
			SELECT IFNULL(MAX(FILE_NO), 0) + 1 
			 FROM BOARD.TB_BOARD_FILE
			WHERE BOARD_SEQ = #{board_seq}
			  
		</selectKey>
				
		INSERT 
		INTO TB_BOARD_FILE
		(
			  BOARD_SEQ
			, FILE_NO
			, FILE_NAME_KEY
			, FILE_NAME
			, FILE_PATH
			, FILE_SIZE
			, DEL_YN 
			, INS_USER_ID
			, INS_DATE			
			, UPD_USER_ID
			, UPD_DATE
		)
		VALUES
		(
			  #{board_seq}
			, #{file_no}
			, #{file_name_key}
			, #{file_name}
			, #{file_path}
			, #{file_size}
			, 'N'
			, 'TEST'
			, NOW() 
			, 'TEST'
			, NOW() 
		)	
		
	</insert>
	
	<!-- 게시글 수정 -->
	<delete id="updateBoard" parameterType="com.api.board.domain.Board">
	
		UPDATE BOARD.TB_BOARD 
		   SET BOARD_SUBJECT = #{board_subject}
		     , BOARD_CONTENT = #{board_content}
		     , UPD_USER_ID = 'TEST'
		     , UPD_DATE = NOW()
 		WHERE BOARD_SEQ = #{board_seq}
	
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
	
		DELETE 
		  FROM BOARD.TB_BOARD 
		 WHERE BOARD_SEQ = #{board_seq}
	
	</delete>
	
</mapper>