<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.board.mapper.BoardMapper">
	
	<!-- 게시글 목록 조회 -->
	<select id="getBoardList" resultType="com.api.board.domain.Board">
	                                     
		SELECT *
		FROM ( 
				SELECT BOARD_SEQ 
					 , BOARD_RE_REF 
					 , BOARD_RE_LEV 
					 , BOARD_RE_SEQ 
					 , BOARD_WRITER 
					 , BOARD_SUBJECT 
					 , BOARD_CONTENT 
					 , BOARD_HITS
					 , DEL_YN 
					 , INS_USER_ID
					 , CAST( DATE_FORMAT( INS_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS INS_DATE
					 , UPD_USER_ID
					 , CAST( DATE_FORMAT( UPD_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS UPD_DATE  
			   FROM BOARD.TB_BOARD
		       ORDER BY BOARD_RE_REF DESC, BOARD_RE_SEQ ASC
			  ) T1
		 
	</select>
	
</mapper>